<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DataEntry</title>
</head>

<body>

<form action="/pagesubmitted/" method="post">
    <div>
        <h1>Tables</h1>
        <input name="tableNum" type="text" placeholder="# of Tables">
    </div>
    <div>
        <h1>Laptop</h1>
        <input name="maker" type="text" placeholder="Manufacturer">
        <input name="color" type="text" placeholder="Color">
    </div>
    <div>
        <h1>Dishware</h1>
        <input name="purpose" type="text" placeholder="Purpose">
    </div>
    <div>
        <h1>Book</h1>
        <input name="pagenum" type="text" placeholder="# of Pages">
    </div>
    <input type="submit">
</form>

</body>
</html>